# .github/workflows/cloudbuild.bronze.yaml

# Variáveis que o Gatilho do Cloud Build irá substituir:
# _PROJECT_ID: etl-hoteis
# _GCS_TEMPLATE_BUCKET: bk-etl-hotelaria
# _LOCATION: southamerica-east1
# COMMIT_SHA (Variável embutida do Cloud Build)

steps:
# ----------------------------------------------------------------------
# PASSO 1: Instalação de Dependências e Testes de Unidade
# Corrigido: Uso do Python 3.10 para melhor compatibilidade do Beam/grpcio.
# Corrigido: Caminhos dos comandos pip e pytest.
# ----------------------------------------------------------------------
- id: 'Rodar Testes da Camada Bronze'
  name: 'python:3.10' # Usando Python 3.10 para evitar erros de compilação do 3.9
  entrypoint: bash
  args:
    - -c
    - |
      echo "Instalando dependências de build e teste..."
      
      # 1. Instala dependências (requirements.txt está em src/bronze)
      pip install -r requirements.txt
      
      # 2. Instala o projeto (o diretório que contém o setup.py)
      pip install -e .
      
      echo "Executando testes..."
      # 3. Executa os testes (caminho completo)
      python -m pytest tests/test_transforms_bronze.py
      
  dir: 'dataflow-pipelines' # Executa a partir da raiz do repositório, usando os caminhos longos acima.

# ----------------------------------------------------------------------
# PASSO 2: Build da Imagem Docker do Flex Template
# ----------------------------------------------------------------------
- id: 'Buildar Imagem Docker'
  name: 'gcr.io/cloud-builders/docker'
  args:
    - 'build'
    - '-t'
    - 'gcr.io/${_PROJECT_ID}/dataflow/bronze-hotelaria:$COMMIT_SHA'
    - '-f' 
    - 'src/bronze/Dockerfile' 
    - 'dataflow-pipelines' 
  dir: '.' 

# ----------------------------------------------------------------------
# PASSO 3: Push da Imagem para o GCR
# ----------------------------------------------------------------------
- id: 'Push da Imagem'
  name: 'gcr.io/cloud-builders/docker'
  args:
    - 'push'
    - 'gcr.io/${_PROJECT_ID}/dataflow/bronze-hotelaria:$COMMIT_SHA'
  dir: 'dataflow-pipelines/src/bronze'

# ----------------------------------------------------------------------
# PASSO 4: Criar o Flex Template no GCS
# ----------------------------------------------------------------------
- id: 'Criar Flex Template'
  name: 'gcr.io/google.com/cloudsdktool/cloud-sdk'
  entrypoint: 'bash'
  args:
    - -c
    - |
      echo "Gerando o arquivo JSON do Flex Template..."
      gcloud dataflow flex-template build gs://${_GCS_TEMPLATE_BUCKET}/templates/bronze-hotelaria.json \
        --image 'gcr.io/${_PROJECT_ID}/dataflow/bronze-hotelaria:$COMMIT_SHA' \
        --sdk-language 'PYTHON' \
        --metadata-file 'dataflow-pipelines/src/bronze/metadata.json' \
        --region '${_LOCATION}' \
        --project '${_PROJECT_ID}'
  dir: '.'
  
options:
  logging: CLOUD_LOGGING_ONLY
