# CLOUD BUILD CAMADA BRONZE
steps:
  # PASSO 2: Build da Imagem Docker do Flex Template
  - id: 'Buildar Imagem Docker'
    name: 'gcr.io/cloud-builders/docker'
    args:
      - 'build'
      - '-t'
      - 'us-central1-docker.pkg.dev/${_PROJECT_ID}/etl-hotelaria/hotelaria-dev:latest'
      - '-f' 
      - 'pipelines/bronze/Dockerfile' 
      - 'pipelines' 
    dir: '.' 

options:
  logging: CLOUD_LOGGING_ONLY