steps:
  # PASSO 2: Build da Imagem Docker do Flex Template
  - id: 'Buildar Imagem Docker'
    name: 'gcr.io/cloud-builders/docker'
    args:
      - 'build'
      - '-t'
      - 'gcr.io/${_PROJECT_ID}/dataflow/bronze-hotelaria:$COMMIT_SHA'
      - '-f' 
      - 'pipelines/bronze/Dockerfile' 
      - 'pipelines' 
    dir: '.' 

options:
  logging: CLOUD_LOGGING_ONLY